body {
    background-color: black;
    color: white;
}

/*START MOBIL*/
#company-name {
    font-size: 300%;
}

.active {
    color: steelblue;
}

#teamActive {
    color: steelblue;
}

#home {
    color: steelblue;
}

#navBarId {
    background-color: black;
}

#mainImage {
    width: 100%;
}

#mainImageDiv {
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 10%;
}

#slogan {
    background-color: black;
    color: white;
    text-align: center;
}

#streets {
    margin: 0;
    top: 0;
    padding: 10%
}

#ferrari {
    max-width: 100%;
    float: left;
    padding: 5%;
}

#ferrariText {
    background-color: black;
    width: 110%;
    text-align: center;
}

#track {
    background-color: black;
    top: 0;
    padding-top: 20%;
}

#ferrariTrack {
    max-width: 100%;
    float: left;
    padding: 12%;
}

#trackText {
    background-color: black;
    width: 110%;
    text-align: center;
    padding-left: 5%;
    padding-right: 10%;
}

#footer {
    text-align: center;
    padding-bottom: 2%;
}
/*END MOBIL*/

/*START TABLET*/
@media (min-width: 992px) {
    #company-name {
        font-size: 300%;
    }

    .active {
        color: steelblue;
    }

    #teamActive {
        color: steelblue;
    }

    #navBarId {
        background-color: black;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 600%;
    }

    .card {
        width: 30%;
        margin: auto;
    }

    .card-group {
        margin: auto;
        width: 100%;
    }

    #mainImage {
        width: 100%;
    }

    #mainImageDiv {
        width: 100%;
        position: relative;
        text-align: center;
        color: white;
    }

    #slogan {
        background-color: black;
        color: white;
        text-align: center;
    }

    #streets {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    #ferrari {
        min-height: 100%;
        min-width: 100%;
    }

    #ferrariText {
        background-color: black;
        width: 100%;
        text-align: center;
    }

    #track {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    #ferrariTrack {
        min-height: 100%;
        min-width: 100%;
    }

    #trackText {
        width: 100%;
        text-align: center;
        padding-bottom: 20%;
    }

    #footer {
        text-align: center;
        padding-bottom: 2%;
    }
}
/*END TABLET*/

/*START DESKTOP*/
@media (min-width: 992px) {
    #company-name {
        font-size: 300%;
    }

    #home {
        color: steelblue;
    }

    #teamActive {
        color: steelblue;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 600%;
    }

    #mainImage {
        padding: 100px;
    }

    #mainImageDiv {
        position: relative;
        text-align: center;
        color: white;
    }

    #slogan {
        background-color: black;
        color: white;
        text-align: center;
    }

    #streets {
        margin: 0;
        top: 0;
        padding: 10%
    }

    #ferrari {
        width: 50%;
        max-width: 50%;
        float: left;
        padding: 5%;
    }

    #ferrariText {
        float: left;
        padding-left: 10%;
        padding-top: 5%;
        margin: 0;
        background-color: black;
    }

    #track {
        background-color: black;
        top: 0;
        padding-top: 20%;
    }

    #ferrariTrack {
        width: 50%;
        float: right;
        padding: 5%
    }

    #trackText {
        float: left;
        padding-left: 15%;
        padding-top: 5%;
        margin: 0;
        background-color: black;
    }

    #footer {
        text-align: center;
        padding-bottom: 2%;
    }
}

