<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USC Ski's</title>
    <link rel="stylesheet" href="../css/assignmentTwo.css">
</head>
<body>
<div id="topBar">
    <h1 id="storeName"><strong>USC Ski's</strong></h1>
</div>

<div class="mobile">

    <h1 id="itemName">K2 Mind Bender 99Ti</h1>

    <img src="../images/mindBender.jpeg" id="mindBender">

    <div id="promo">
        <p>The season got cut short! Use promo code:</p>
        <p> IWantToSki2021</p>
    </div>

    <img src="../images/mindBenderPrice.png" id="reviews">

    <h3>Related Products:</h3>

    <div class="relatedItem one">
        <img src="../images/skiBoots.jpg" id="related1" class="relatedImg">
        <div class="overlay">
            <div class="text">MindBender 130 boots</div>
        </div>
    </div>
    <div class="relatedItem two">
        <img src="../images/skiBoots2.jpg" id="related2" class="relatedImg">
        <div class="overlay">
            <div class="text">Salomon 130 boots</div>
        </div>
    </div>
    <div class="relatedItem three">
        <img src="../images/skis1.jpg" id="related3" class="relatedImg">
        <div class="overlay">
            <div class="text">Salomon 106 skis</div>
        </div>
    </div>
    <div class="relatedItem four">
        <img src="../images/skis2.jpg" id="related4" class="relatedImg">
        <div class="overlay">
            <div class="text">Atomic 110 skis</div>
        </div>
    </div>

</div>

<div class="tablet">

    <div class="top">

        <div class="topLeft">
            <img src="../images/mindBender.jpeg" id="mindBenderTablet">

            <div id="promoTablet">
                <p>The season got cut short! Use promo code:</p>
                <p> IWantToSki2021</p>
            </div>
        </div>

        <div class="topRight">
            <h1 id="itemNameTablet">K2 Mind Bender 99Ti</h1>
            <img src="../images/mindBenderPrice.png" id="reviewsTablet">
        </div>

    </div>

    <div class="bottom">

        <h3 id="relatedTablet">Related Products:</h3>

        <div class="bottomLeft">

            <div class="relatedItem one">
                <img src="../images/skiBoots.jpg" class="relatedImg">
                <div class="overlay">
                    <div class="text">MindBender 130 boots</div>
                </div>
            </div>
            <div class="relatedItem two">
                <img src="../images/skiBoots2.jpg" class="relatedImg">
                <div class="overlay">
                    <div class="text">Salomon 130 boots</div>
                </div>
            </div>

        </div>

        <div class="bottomRight">

            <div class="relatedItem three">
                <img src="../images/skis1.jpg" class="relatedImg">
                <div class="overlay">
                    <div class="text">Salomon 106 skis</div>
                </div>
            </div>
            <div class="relatedItem four">
                <img src="../images/skis2.jpg" class="relatedImg">
                <div class="overlay">
                    <div class="text">Atomic 110 Skis</div>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="desktop">

    <div class="top">

        <div class="topLeft">
            <img src="../images/mindBender.jpeg" id="mindBenderDesktop">

            <div id="promoDesktop">
                <p>The season got cut short! Use promo code:</p>
                <p> IWantToSki2021</p>
            </div>
        </div>

        <div class="topRight">
            <h1 id="itemNameDesktop">K2 Mind Bender 99Ti</h1>
            <img src="../images/mindBenderPrice.png" id="reviewsDesktop">
        </div>

    </div>

    <div class="bottom">
        <br><br>
        <h3 id="relatedDesktop">Related Products:</h3>
        <div class="relatedItems">
            <div class="relatedItem">
                <img src="../images/skiBoots.jpg" class="relatedImg">
                <div class="overlay">
                    <div class="text">MindBender 130 boots</div>
                </div>
            </div>
            <div class="relatedItem">
                <img src="../images/skiBoots2.jpg" class="relatedImg">
                <div class="overlay">
                    <div class="text">Salomon 130 Ski boots</div>
                </div>
            </div>
            <div class="relatedItem ">
                <img src="../images/skis1.jpg" class="relatedImg">
                <div class="overlay">
                    <div class="text">Salomon skis 106</div>
                </div>
            </div>
            <div class="relatedItem">
                <img src="../images/skis2.jpg" class="relatedImg">
                <div class="overlay">
                    <div class="text">Atomic skis 110</div>
                </div>
            </div>
        </div>

    </div>

</div>



</body>
</html>