<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Richard Hernandez</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>

<div class="container" id="main" style="width: 800px">

    <div class="row" id="one">
        <h1>Richard Hernandez</h1><br><br>
    </div>

    <div>
        <h4>hern784@usc.edu</h4>
    </div>

    <hr>

    <div class="row" id="two">
        <div class="col">
            <p>Favorite Color: <b style="color: orange">orange</b></p>
            <p>Favorite Website: <a href="https://www.youtube.com/">youtube</a></p>
            <p>Favorite Activity:</p>
            <img src="../images/skiing.jpeg" alt="skiing" style="width: 300px">
        </div>
        <div class="col">
            Spring 2020 schedule:
            <ul>
                <li>HIST 128: Arts of Latin America</li>
                <li>CSCI 201: Principles of Software Development</li>
                <li>CSCI 270: Intro to Algorithms and Theory of Computing</li>
                <li>CSCI 360: Intro to Artificial Intelligence</li>
            </ul>
        </div>
    </div>

    <hr>

    <div class="row" id="three">
        <div class="col">
            <h2>Assignments</h2>
            <ul>
                <li><a href="./movie.html">A1: Movie Analysis</a></li>
                <li><a href="./product.html">A2: Responsive Product Page</a></li>
            </ul>
        </div>
        <div class="col">
            <h2>Labs</h2>
        </div>
    </div>

</div>

</body>
</html>
