<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>T-shirt Customizer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/assignment4.css">
</head>
<body>
<div class="header">
    <h1>T-shirt Maker</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-5 section py-3 tshirt">
            <img src="https://purepng.com/public/uploads/large/purepng.com-white-t-shirtt-shirtfabrict-shapegramnetsmenswhite-14215264292423zp8k.png" />
            <!-- This is the element that appears on top of the t-shirt -->
            <div id="tshirt-preview"></div>
        </div>
        <div class="col-12 col-md-4 section py-3 customize">
            <h2>Customize T-shirt</h2>
            <form id="tshirt-form">
                <div class="form-group">
                    <label for="tshirt-text">Text to put on T-shirt:</label>
                    <input type="text" class="form-control" id="tshirt-text" placeholder="Enter text" autocomplete="off">
                    <small id="tshirt-text-help" class="form-text">max 20 characters</small>
                </div>
                <div class="form-group">
                    <label for="tshirt-font">Choose font:</label>
                    <select id="tshirt-font" class="form-control">
                        <option value="Arial">Arial</option>
                        <option value="Times New Roman">Times New Roman</option>
                        <option value="Verdana">Verdana</option>
                        <option value="Monospace">Monospace</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="tshirt-font-size">Choose font size:</label>
                    <input type="range" list="tickmarks" class="form-control-range" id="tshirt-font-size" min="12" max="36" step="3">
                    <datalist id="tickmarks">
                        <option value="12" label="12px"></option>
                        <option value="15"></option>
                        <option value="18" label="18px"></option>
                        <option value="21"></option>
                        <option value="24" label="24px"></option>
                        <option value="27"></option>
                        <option value="30" label="30px"></option>
                        <option value="33"></option>
                        <option value="36" label="36px"></option>
                    </datalist>
                </div>
                <div class="form-group">
                    <label>Choose text color:</label>
                    <ul class="tshirt-colors">
                        <li class="tshirt-color selected" data-color="black"></li>
                        <li class="tshirt-color" data-color="blue"></li>
                        <li class="tshirt-color" data-color="green"></li>
                        <li class="tshirt-color" data-color="red"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                    <button type="button" class="btn btn-danger" id="btn-remove">Remove from Cart</button>
                    <div class="error-message"></div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-3 d-flex section">
            <div class="cart">
                <h4>Shopping Cart</h4>
                <div id="cart-message">
                    Cart is empty
                </div>
                <div class="cart-item hide">
                    <h5>Custom Shirt</h5>
                    <span id="qty">0</span> x $20.00
                </div>

                <hr/>

                <div class="cart-pricing">
                    <span>Subtotal:</span>
                    <span id="subtotal">$0.00</span>
                </div>
                <div class="cart-pricing">
                    <span>Tax:</span>
                    <span id="tax">$0.00</span>
                </div>
                <div class="cart-pricing">
                    <strong>Total:</strong>
                    <span id="total">$0.00</span>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

  //query singular tags, optional param for querying all
  const query = (tags, all = false) => {
      if (all)
          return document.querySelectorAll(tags)
      else
          return document.querySelector(tags)
  }

  const tsText = query('#tshirt-text');
  const tsPreview = query('#tshirt-preview');
  const tsFont = query('#tshirt-font')
  const tsFontSize = query('#tshirt-font-size')
  const tsColors = query('.tshirt-color', true)
  const addToCart = query('.btn-primary')
  const removeFromCart = query('.btn-danger')

  tsText.oninput = () => {
      if (tsText.value.length <= 20) {
          tsPreview.style.wordWrap = 'break-word'
          tsPreview.innerText = tsText.value
          tsText.classList.remove('is-invalid')
          query('#tshirt-text-help').style.color = 'black'
      } else {
          tsText.classList.add('is-invalid')
          query('#tshirt-text-help').style.color = 'red'
      }
  }

  tsFont.onchange = () => (tsPreview.style.fontFamily = tsFont.value)

  tsFontSize.onchange = () => (tsPreview.style.fontSize = tsFontSize.value + 'px')

  tsColors.forEach((selected, i) => {
      selected.onclick = () => {
          tsPreview.style.color = selected.dataset.color
          selected.classList.add('selected')
          tsColors.forEach((unselected, j) => {
              if (i !== j) {
                  unselected.classList.remove('selected')
              }
          })
      }
  })

  addToCart.onclick = (e) => {
      e.preventDefault()
      if (tsPreview.innerText.length < 1 || tsPreview.innerText.length > 20) {
          tsText.classList.add('is-invalid')
          query('.error-message').style.color = 'red'
          query('.error-message').innerText = 'Text must be 1-20 characters'
      } else {
          query('#cart-message').style.display = 'none'
          tsText.classList.remove('is-invalid')
          query('.error-message').innerText = ''
          query('.cart-item').style.display = 'inline'

          var qty = parseFloat(query('#qty').innerText) + 1
          query('#qty').innerText = qty

          query('#subtotal').innerText = '$' + (qty * 20.00).toFixed(2)
          query('#tax').innerText = '$' + (qty * 20.00 * .095).toFixed(2)
          query('#total').innerText = '$' + (qty * 20.00 + qty * 20.00 * .095).toFixed(2)

      }
  }

  removeFromCart.onclick = (e) => {
      query('#cart-message').style.display = 'inline'
      query('.cart-item').style.display = 'none'
      query('#qty').innerText = 0
      query('#subtotal').innerText = '$0.00'
      query('#tax').innerText = '$0.00'
      query('#total').innerText = '$0.00'
  }

</script>

</body>
</html>